@import '../../styles/mixins.scss';

.container {
    background: linear-gradient(260.3deg, #C6FFDD 8.1%, #FBD786 42.84%, #F7797D 73.37%);
    height: 468px;
    @include container-flex;
    
    &__content {
        height: 468px;
        padding-top: 44px;
        @include content-width;
        
    &_title {
        margin-top: 92px;
        color: #fff;
        font-size:48px;
        font-weight: 600;
        line-height: 52.8px;
        margin-bottom: 0;
    }

    &_description {
        color: #fff;
        font-size:18px;
        font-weight: 400;
        height: 87px;
        line-height: 160%;
        width:445px;
        height: 87px;
    }
    }

}

